name: Tests

on: [push, pull_request, workflow_dispatch]

jobs:
  build_ubuntu:
    strategy:
      matrix:
        python:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11-dev'
    name: ${{ matrix.python }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: pip
          cache-dependency-path: ".github/workflows/tests.yml"
      - name: setup
        run: |
          python --version
          python -m pip install --upgrade pip
          python -m pip install --upgrade flit
      - name: install
        run: |
          cd blurb
          flit install
      - name: test
        run: |
          blurb test
